<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div style="position: absolute; right: 0;">
    <div [ngModel]="model" (ngModelChange)="onGenderChange($event)" ngbRadioGroup name="radioBasic">
      <label class="btn btn-info">
        <input type="radio" value="b"> Tous
      </label>
      <label class="btn btn-info">
        <input type="radio" value="f"> Filles
      </label>
      <label class="btn btn-info">
        <input type="radio" value="m"> Garçons
      </label>
    </div>
  </div>
  <div class="navbar-brand">Prénoms de France</div>
  <div class="" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/year']">Par année</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/name']">Par prénom</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

